{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<style>
.card {
      width: 360px;
      max-width: 100%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
#hero-static{
    padding:0
}
</style>
<section id="hero-static" class="hero-static d-flex align-items-center">
    <main id="main">
        <div class="container m-5">
            <div class="card" style="width:35rem" >
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login-form" role="tab" aria-controls="login-form" aria-selected="true">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup-form" role="tab" aria-controls="signup-form" aria-selected="false">Signup</a>
                </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                <div class="tab-pane fade show active" id="login-form" role="tabpanel" aria-labelledby="login-tab">
                    <form action="" method="post" name="LoginForm" id="loginform">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="login-email">Email</label>
                            <input type="email" class="form-control" id="login-email" name="loginemail" required>
                        </div>
                        <div class="form-group">
                            <label for="login-password">Password</label>
                            <input type="password" class="form-control" id="login-password" name="loginpassword"required>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" name="LoginForm">Login</button>
                        <a href="{% url 'social:begin' 'google-oauth2' %}"><button type="button" class="btn btn-primary">Sign in with Google</button></a>
                    </form>
                </div>
                <div class="tab-pane fade" id="signup-form" role="tabpanel" aria-labelledby="signup-tab">
                    <form action="" method="post" name="SignupForm" id="signupform">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="signup-first-name">First Name</label>
                        <input type="text" class="form-control" id="signup-first-name" name="first_name" required>
                    </div>
                    <div class="form-group">
                        <label for="signup-last-name">Last Name</label>
                        <input type="text" class="form-control" id="signup-last-name" name="last_name" required>
                    </div>
                    <div class="form-group">
                        <label for="signup-email">Email</label>
                        <input type="email" class="form-control" id="signup-email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="signup-password">Password</label>
                        <input type="password" class="form-control" id="signup-password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="signup-confirm-password">Confirm Password</label>
                        <input type="password" class="form-control" id="signup-confirm-password" name="confirm_password" required>
                    </div>
                    <br>
                    <button onclick="SignupCheck(event)" class="btn btn-primary">Signup</button>
                    <a href="{% url 'social:begin' 'google-oauth2' %}"><button type="button" class="btn btn-primary">Sign up with Google</button></a>
                    </form>
                </div>
                </div>
            </div>
            </div>
        </div>


    </main>
    <script>
        function hasOnlySpaces(str) {
            return str.trim() === '';
        }


        function isStrongPassword(password) {
            // At least 8 characters
            // Contains at least one uppercase letter,one lowercase letter ,at least one digit, one special character
            var pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*]).{8,}$/;
            return pattern.test(password);
        }


        // validations
        function SignupCheck(event){
            event.preventDefault()

            let first_name = document.getElementById("signup-first-name")
            let last_name = document.getElementById("signup-last-name")
            let password = document.getElementById("signup-password")
            let c_password = document.getElementById("signup-confirm-password")

            if (hasOnlySpaces(first_name.value) || hasOnlySpaces(last_name.value)){
                first_name.value = ''
                last_name.value = ''
                alert("Enter a valid first and last name..")
            }
            else if (password.value != c_password.value){
                alert("Please enter correct password")
                password.value = ''
                c_password.value = ''
            }
            else if (!isStrongPassword(password.value)){
                alert("Your password is not strong")
                password.value = ''
                c_password.value = ''
            }
            else{
                let form = document.getElementById("signupform")
                form.submit()
            }

        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</section>
{% endblock %}