{% extends "admindashboard/base.html" %}
{% load static %}


{% block title %}
Admin Dashboard
{% endblock %}


{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Visited/Booked <small>(last 10 days)</small></h5>
            <canvas id="lineChart" style="max-height: 400px;"></canvas>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Total Stats</h5>
            <canvas id="pieChart" style="max-height: 400px;"></canvas>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", () => {
    new Chart(document.querySelector('#pieChart'), {
    type: 'pie',
    data: {
        labels: [
            'Booked',
            'Vaccinated',
            'Canceled',
            'Expired'
        ],
        datasets: [{
        label: 'Total Stats',
        data: {{total_data}},
        backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
            'rgb(153, 102, 255)',
        ],
        hoverOffset: 4
        }]
    }
    });
});
</script>
<script>
document.addEventListener("DOMContentLoaded", () => {
    const labels = {{labels|safe}};
    const booked = {{booked}};
    const visited = {{visited}};
    const data = {
        labels: labels,
        datasets: [
            {
            label: 'Visited',
            data: visited,
            borderColor: 'rgb(255, 99, 132)',
            fill: false,
            cubicInterpolationMode: 'monotone',
            tension: 0.4
            }, {
            label: 'Booked',
            data: booked,
            borderColor: 'rgb(54, 162, 235)',
            fill: false,
            tension: 0.4
            },
        ]
    }
    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            plugins: {
            title: {
                display: true,
                text: ''
            },
            },
            interaction: {
            intersect: false,
            },
            scales: {
            x: {
                display: true,
                title: {
                display: true
                }
            },
            y: {
                display: true,
                title: {
                display: true,
                text: 'Value'
                },
               
            }
            }
        },
        };

     new Chart(document.querySelector('#lineChart'),config)
});
                
              </script>
{% endblock %}